Package: com.supernova.gmail
Name: Gmail
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: SuperNova
Author: SuperNova
Section: Tweaks
